
.container{
  width: 100%;
  margin: auto;
  padding: 20px;
}

.btn{
  margin: 10px 0;
}

.viewer{
  width: 100%;
  background-color: #e4e4e4;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center{
  text-align: center;
  width: 100%;
}